 body {
     font-family: sans-serif;
 }

 .gallery {
     display: grid;
     grid-template-columns: 40px 1fr 40px;
     grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
     grid-template-rows: max-content 1fr max-content;
     grid-template-areas: "gallery-btn-prev gallery-title gallery-btn-next" "gallery-btn-prev gallery-items gallery-btn-next" "gallery-btn-prev btn-load-more gallery-btn-next";
 }

 .button__prev-container {
     grid-area: gallery-btn-prev;
 }

 .button__next-container {
     grid-area: gallery-btn-next;
 }

 .button__load-more-container {
     grid-area: btn-load-more;
 }

 .gallery__button-container {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
 }

 .gallery__button {
     border: none;
     padding: 10px;
     cursor: pointer;
 }

 .gallery__title-container {
     grid-area: gallery-title;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 8px;
 }

 .gallery__title {
     margin: 0;
 }

 .gallery__items {
     grid-area: gallery-items;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
     gap: 10px;
     padding: 10px;
     max-height: 400px;
     min-height: 150px;
     box-shadow: 0px 4px 15px 7px rgba(34, 60, 80, 0.2);
     overflow-y: auto;
 }

 .gallery__item {
     display: block;
     position: relative;
     min-width: 150px;
     min-height: 150px;
     max-width: 300px;
     max-height: 300px;
     cursor: pointer;
 }

 .gallery__item img {
     width: 100%;
     height: 100%;
     -o-object-fit: cover;
     object-fit: cover;
 }

 .gallery__item span {
     position: absolute;
     left: 20px;
     top: 20px;
     font-size: 20px;
     color: #fff;
 }

 .vertical-text {
     transform: rotate(90deg);
     white-space: nowrap;
 }

 /* ALBUM LIGHTBOX */

 .lightbox {
     position: fixed;
     z-index: 1000;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, .8);
     display: none;
 }

 .lightbox.active {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .lightbox img {
     max-width: 80vw;
     max-height: 80vh;
 }

 /* SCROLLBAR */

 * {
     scrollbar-width: thin;
     scrollbar-color: #00AE77 #fff;
 }